body {
    margin: 0;
    padding: 24px 52px;
    width: 1218px;
}

h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

h3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(109, 122, 143, 1);
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-top: 8px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.block_1 {
    height: 621px;
    width: 423px;
    left: 52px;
    top: 24px;
    border-radius: 0px;
}

.mount {
    margin: 7px 32px;
}

.flag1 {
    position: absolute;
    margin: 0 177px;
}
.flag2 {
    position: absolute;
    margin: 0 180px ;
}
.flag3 {
    position: absolute;
    margin: 7px 101px 563px 205px;
}

.mount-center{
    position: absolute;
    margin-top: 106px;
    height: 500px;
    width: 359px;
}
.mount-top {
    position: absolute;
    margin: 89px 114px;
    height: 171px;
    width: 131px;
    z-index: 4;
}
.mount-left {
    position: absolute;
    height: 500px;
    width: 161px;
    margin-top: 106px;
}
.mount-right {
    position: absolute;
    margin: 106px 196px;
    z-index: 3;
}
.mount-right2 {
    position: absolute;
    margin: 106px 135px;
    z-index: 2;
}
.mount-line7 {
    position: absolute;
    margin: 92px 177px;
    z-index: 5;
}
.block_1-position {
    position: relative;

}

.arrow {
    width: 30px;
    margin-top: 14px;
    border-top: 5px solid;
    z-index: 5;
}

.block_1-position-1 {
    display: flex;
    position: absolute;
    top: 113px;
    left: 210px;
    z-index: 5;
    max-width: 200px;
}

.block_1-position-2 {
    display: flex;
    position: absolute;
    top: 265px;
    right: 209px;
    z-index: 5;
    max-width: 200px;
}

.block_1-position-3 {
    display: flex;
    position: absolute;
    top: 360px;
    left: 210px;
    z-index: 5;
    max-width: 200px;
}

.block_1-position-4 {
    display: flex;
    position: absolute;
    top: 450px;
    left: 210px;
    z-index: 5;
    max-width: 160px;
}
.block_1-position-5 {
    display: flex;
    position: absolute;
    top: 540px;
    right: 209px;
    z-index: 5;
    max-width: 200px;
}

.arrow-grey {
    border-color: white;
}

.hidden {
    display: none;
}

.arrow-green {
    border-color: #47C293;
}

.arrow-green-position-1 {
    position: absolute;
    margin: 92px 178px;
    z-index: 6;
    height: 509px;
    border: 2px solid #47C293;
}

.arrow-green-position-2 {
    position: absolute;
    margin: 279px 178px;
    z-index: 6;
    height: 322px;
    border: 2px solid #47C293;
}

.arrow-green-position-3 {
    position: absolute;
    margin: 375px 178px;
    z-index: 6;
    height: 226px;
    border: 2px solid #47C293;
}

.arrow-green-position-4 {
    position: absolute;
    margin: 464px 178px;
    z-index: 6;
    height: 138px;
    border: 2px solid #47C293;
}
.arrow-green-position-5 {
    position: absolute;
    margin: 555px 178px;
    z-index: 6;
    height: 45px;
    border: 2px solid #47C293;
}


/*.arrow-pointer-5 {*/
/*    height: 10px;*/
/*    width: 10px;*/
/*    border-right: 5px solid #47C293;*/
/*    border-bottom: 5px solid #47C293;*/
/*    transform: rotate(130deg);*/
/*    margin-top: 8px;*/
/*    z-index: 4;*/
/*}*/


.position-grey {
    background: #f9f9f9;
    border-radius: 20px;
    padding: 8px;
    width: fit-content;
    text-align: center;
}


.position-none {
    display: none;
}

.position-green {
    background: #47C293;
    border-radius: 20px;
    padding: 8px;
    width: fit-content;
    text-align: left;
}

.marker-check {
    background-image: url("images/icon-green2.svg");
    background-repeat: no-repeat;
    padding-right: 10px;
    background-position-x: 8px;
    background-position-y: center;
    padding-left: 35px;
}

.marker-flag {
    background-image: url("images/marker-flag.svg");
    background-repeat: no-repeat;
    padding-right: 15px;
    background-position-x: 8px;
    background-position-y: center;
    padding-left: 30px;
}



/*------Block2-------*/
.block_2-1 {
    border: 1px solid #dfd7d7;
    padding: 10px;
    border-radius: 10px;
}

.block_2-1-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block_2-1-title-h2 {
    height: 42px;
    width: 114px;
    border-radius: 4px;
    background: rgba(223, 228, 245, 1);
    padding: 8px 12px;
    margin-right: 463px;
}

.block_2-2-criteria{
    display: flex;
    margin-top: 20px;
}

.block_2-2-criteria h2 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(109, 122, 143, 1);
}

.button_pen {
    padding-right: 10px;
}

.block_2-2-icon {
    margin-left: 10px;
}

[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    opacity: 0;
    transition: 1s;
    pointer-events: none;
}

[data-tooltip]:hover::after {
    opacity: 1;
}

.grey-mark {
    margin-top: 8px;
    background-image: url("images/li.svg");
    background-repeat: no-repeat;
    padding-left: 20px ;
}

.green-mark {
    background-image: url("images/li-green.svg");
    background-repeat: no-repeat;
    padding-left: 20px ;
}